.container {
    background-color: palegreen;
    padding: 10px;
    display: flex;
    margin: 30px;
}

#container-01 {
    flex-direction: row;
    flex-wrap: wrap;

}

#container-02 {
    flex-direction: column-reverse;
    height: 300px;
    flex-wrap: wrap;
}

.item {
    background-color: orange;
    margin: 10px;
}