.container {
    display: flex;
    background-color: palegreen;
    margin: 20px;
    padding: 10px;
    justify-content: center;
}

.item {
    background-color: orange;
    margin: 20px;
}

#container-01 {
    flex-direction: row;
}

#container-02 {
    flex-direction: column;
    height: 400px;
}