.container {
    background-color: yellow;
    margin-bottom: 30px;
    padding: 20px;

    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: 200px;
}
   

.item {
    border: 1px solid black;
}

.item-01 {
    background-color: firebrick;
}

.item-02 {
    background-color: darkslategray;
}

.item-03 {
    background-color: blue;
}

.item-04 {
    background-color: blueviolet;
}

.item-05 {
    background-color: cornflowerblue;
}


.item-06 {
    background-color: aquamarine;
}